---
apiVersion: v1
kind: Secret
metadata:
  name:  {{ environ("cluster") }}-{{ environ("node") }}-bmc-secret
  namespace: '{{ environ("cluster") }}'
data:
  username: '{{ environ("bmc_username") }}'
  password: '{{ environ("bmc_password") }}'
type: Opaque