---
apiVersion: v1
kind: Secret
metadata:
  name: assisted-deployment-pull-secret
  namespace: '{{ environ("cluster") }}'
stringData:
  .dockerconfigjson: '{{ environ("pull_secret") }}'
  type: kubernetes.io/dockerconfigjson
